<app-header></app-header>
<div class="container">
    <div class="createPet">
        <div class="card">
            <div class="card-header">
             No puedes tener más a tu mascota
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <p class="card-text">Si no puedes tener a tu mascota, y deseas ponerla en adopción </p>
              <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Poner en adopción a mi mascota</button>
            </div>
          </div>
    </div>
    <div class="card-deck">
        <div class="card" align="center">
          <img src="../../../assets/photos/circle-form.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><b>Lulu</b></h5>
            <p class="card-text"><b>Sexo:</b> Femenino <b>Edad: </b>23 Meses</p>
            <p class="card-text"><b>Especie: </b>Perro  <b>Raza: </b>Pitbull</p>
            <p class="card-text"><b>Esta vacunado: </b>No</p>
            <button class="btn btn-success">¡Adoptar!</button>
            <p class="card-text"><small class="text-muted"><b>Dirección: </b>Calle 10 # 41 - 39</small></p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>